# Node dependencies
node_modules/

# Build artifacts
frontend/dist/*
!frontend/dist/.gitkeep
*.log
*.zip

# Python virtualenvs
.venv/

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl

# OS
.DS_Store
